@import "tailwindcss";


@custom-variant dark (&:is(.dark *));

body {
  /* Set the default font for the entire site to Lato */
  font-family: var(--font-lato), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  /* Set the font for all heading tags to Montserrat */
  font-family: var(--font-montserrat), sans-serif;
}

@theme {
  --color-primary: #0a7421;
  --color-secondary: #edb903;
}


